.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 600px;
    background: url(http://3.bp.blogspot.com/_9CRy4x72Gkk/TOMR3CDZtCI/AAAAAAAABlU/i4BGPRdBiV4/s1600/fail%2Bwhale%2Bwallpaper.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header h1 {
  color:white;
  text-shadow: 3px 3px #4E4E4E
}

.signin {
  margin-top: 8px;
  margin-right: 8px;
}

.navbar {
  margin-bottom: -10px;
  width: 100%;
  position: fixed;
  z-index: 1;

}


li {
  list-style-type: none;
}

.error {
  margin-top: 30px;
  margin-left: 30px;
  display: inline-block;
}

.queue {
  margin-top: 60px;
  display: inline-block;
}

.container {
  text-align: center;
  margin-bottom: 20px;
}

.tweet-page {
  margin-bottom: 20px;
  height: 50px;
}

.chronic-box {
  width: 600px;
  display: inline-block;
}

.tweet-box {
  width: 600px;
  height: 100px;
  padding-bottom: 70px;
  display: inline-block;
}

.delete-btn {
  float: right;
  padding-top: 20px;
}

.centerblk {
  display: inline-block;
}

.tweet-in-queue {
  width:600px;
  margin-bottom: 30px;
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid #CAC6C6;
}

.btn-borderless {
  border: 0 none;
}
