<div>
  <h3>Tweet Queue</h3>
  <% list = Tweet.where(user_id: session[:user_id]) %>
  <% list.each do |tweet|%>
  <p>Tweet:<%= tweet.tweet %></p>
  <p>Post time: <%= tweet.post_time%></p>
  <form method='post' action='/tweet/delete'>
    <div>
    <input type="hidden" name = 'tweet_id' value="<%=tweet.id%>">
      <input class="btn btn-lg btn-dark" type="submit" value="Delete">
    </div>
  </form>
  <% end %>
</div>

