<div class="container">
  <div class="queue">
    <h3>Your Scheduled Tweets</h3>
    <% list = Tweet.where(user_id: session[:user_id]) %>
    <% list.each do |tweet|%>
    <div class="tweet-in-queue">
        <div class="centerblk">
          <h4><%= tweet.tweet %></h4>
          <p><%= tweet.post_time.in_time_zone.strftime('%H:%M %d %b %Y')%></p>
        </div>
        <form method='post' action='/tweet/delete' class="delete-btn centerblk">
          <div>
            <input type="hidden" name = 'tweet_id' value="<%=tweet.id%>">
            <button class="btn btn-default btn-borderless" type="submit"><span class="glyphicon glyphicon-trash"></span></button>
          </div>
        </form>
    </div>
    <% end %>
  </div>
</div>

