<h1>YOUR TWEETS GO HERE</h1>
<form method="post" action='/tweets/index'>
  <div>
    <label>Tweet:</label>
    <input type="text" name="tweet" value="Your tweet here">
    <input class="btn btn-lg btn-primary" type="submit" value"tweet!">
  </div>
</form>