</br>
<div class="container">
  <div class="tweet-page">
    <div class="tweet-box">
      <div class="post-error">
        <% if session[:error]== false%>
          <p class="alert"> Tweet will be posted at <%= session[:post_time].strftime('%H:%M %d %b %Y')%>! </p>
        <% session[:error] = nil %>
        <% elsif session[:error] == true %>
          <p class="alert"> Please log in to schedule a tweet! </p>
          <% session[:error] = nil %>
        <% else %>
          <% if @tweet && @tweet.errors.any? %>
            <div>
              <strong>Some issues with your tweet, please fix them:</strong>
              <ul>
              <% @tweet.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>  
          <% session[:error] = nil %>
        <% end %>
      </div>
    </div>
</div>

<div class="tweet-page">
  <form method="post" action='/tweets'>
    <div class="container">
    <div class="container">

    <input class="form-control tweet-box" type="text" name="tweet" placeholder="Compose your tweet here!" maxlength="140">

    </div>
    <div class="container"><input class="form-control chronic-box" type="text" name="timeof" placeholder="eg. 'Tomorrow at noon', '12 hours from now', 'December 12 9pm'" maxlength="140"></div>

    <input class="btn btn-lg btn-default centerblk" type="submit">
    </div>
  </form>

  <div class="container">
    <button type="button" class="btn btn-lg btn-default centerblk"><a href="tweets/all">Queue</a></button>
  </div>

</div>

<!-- <div>
  <form action="/tweets/calendar">
      <input class="btn btn-lg btn-primary" type="submit" value="Show My Calendar!">
    </form>
</div> -->





<!-- <li id="schedule-c3" class="active">
<form>
<p>Post at <span class="timescount">this</span> <strong class="name">Time</strong> : </p>
<ol id="schedule-times">
<li data-index="0">
<select name="month" class="chzn-select" style="width: 60px"><option value="01">Jan</option><option value="02">Feb</option><option value="03">Mar</option><option value="04">Apr</option><option value="05">May</option><option value="06">Jun</option><option value="07">Jul</option><option value="08">Aug</option><option value="09">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select>
<select name="day" class="chzn-select" style="width: 60px"><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
<select name="hour" class="chzn-select" style="width: 60px"><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option></select>
<select name="minute" class="chzn-select" style="width: 60px"><option value="00">00</option><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option></select>
<select name="ampm" class="chzn-select" style="width: 60px">
<option value="am">AM</option>
<option value="pm">PM</option>
</select>
<a class="remove-time tooltip" original-title="Remove posting time">×</a>
</li>
</ol>
</form>
</li> -->
