<%= erb :'sidebar' %>
<div class="container">
  <div class="timeline">
      <% @timeline.each do |tweet| %>
        <div class="past-tweet">
          <h3><%= tweet.text %></h3>
          <p><%= tweet.created_at.in_time_zone.strftime('%H:%M %d %b %Y') %></p>
        </div>
      <% end %>
  </div>
</div>
