<div class="container">
  <div class="timeline">
      <% @word_count.each do |key,value| %>
        <div class="past-tweet">
          <h3><%= key %></h3>
          <p><%= value.to_s %></p>
        </div>
      <% end %>
  </div>
</div>