<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>BufferClone</h1>
    <% if session[:user_id].nil? %>
      <h3>Sign in with Twitter</h3>
      <br>
      <a href="/oauth/request_token" class="btn btn-dark btn-lg">Sign In</a>
    <% else %>
      <h3>Schedule your Tweets</h3>
      <br>
      <a href="/tweets" class="btn btn-dark btn-lg">Add a Tweet</a>
    <% end %>
    <% if session[:error] %>
      <div class="container">
        <div class="login-error">
          <h3>Please log in to post a Tweet.</h3>
        </div>
        <% session[:error]=nil %>
      </div>
    <% end %>
  </div>
</header>