<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Buffer Clone</h1>
    <h3>Sign in with Twitter</h3>
    <br>
    <a href="/oauth/request_token" class="btn btn-dark btn-lg">Sign In</a>
  </div>
</header>