<div class="sidebar">

  <div class="avatar">
    <a href="https://twitter.com/<%=session[:handle].gsub "@", ""%>"><img src="<%= session[:avatar] %>" class="profile-img"></a>
    <div class="handle"><%= session[:handle] %></div>
  </div>

  <a href="/tweets"><div class="side-btn">
      Tweets
  </div></a>

  <a href="/tweets/all"><div class="side-btn">
      Upcoming Tweets
  </div></a>

  <a href="/timeline"><div class="side-btn">
      Timeline
  </div></a>

</div>