<div class="sidebar">

  <div class="avatar">
    <a href="https://twitter.com/<%=session[:handle].gsub "@", ""%>"><img src="<%= session[:avatar] %>" class="profile-img"></a>
    <div class="handle"><%= session[:handle] %></div>
  </div>

  <div class="side-btn">
      <a href="/tweets">Tweets</a>
  </div>

  <div class="side-btn">
      <a href="/tweets/all">Upcoming Tweets</a>
  </div>

  <div class="side-btn">
      <a href="/timeline">Timeline</a>
  </div>

</div>

